.height15{
	line-height: 15px !important;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loader.svg) center no-repeat #fff;
	//transition:1s ease;
}
